.graphBox {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.container{
    background-color: #ffe6b8;
}

.headercontent{
    display: flex;    
    align-content: center;
    align-items: center;
    background-color: orange;
    padding: 8px;
}
.headercontent>h1{
    color: white;
    font-size: 40px;
    margin-left: 20px;
}
.contentBox {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.list-layout{
    display: flex;
    align-items: stretch;
    margin-top: 8px;
    
}

.predict-content{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 20px;
}
