.Home {
    background-color: #D0E3FF;
    background-image: url('../assets/bg.png');
    background-size: cover;
}


.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 10rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 0 16px;
    padding: 0;
    gap: 4px;
    text-align: left;
    color: #081F5C;
}

.content>h1 {
    font-size: 48px;
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    z-index: 1;
}

.content>p {
    font-size: 20px;
    font-weight: 800px;
    z-index: 1;
}

#flower {
    width: 40px;
    height: fit-content;
    transform: rotate(-45deg);
    position: absolute;
    left: 46.5%;
    z-index: 0;
    top: 35%;

    @media screen and (max-width: 767px) {
        left: 63%;
        top: 14%
    }
}

.intro>img {
    background-image: url('../assets/bg2.png');
    border-radius: 38% 62% 63% 40% / 41% 40% 50% 59%;
    object-fit: contain;
    width: 320px;
    height: 320px;
    border: 4px solid #081F5C;
    filter: drop-shadow(2px 5px 8px #081F5C);

}

.intro:hover>img {
    transform: rotate(-30deg);
}

.body-content>h3 {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 0 16px;
    padding: 8px 11rem;
    font-size: 20px;
}

.body-content>hr {
    border: 1.5px solid #0f2743;
    border-radius: 5px;
    width: 88%;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 20px;
    }

    .body-content>h3 {
        padding: 20px;
    }

    .body-content>hr {
        width: 88%;
        margin: 0 auto;
    }

}

/** card tag style **/
#tag{
    margin: 8px 0px;
}
#tag-ui {
    background-color: #334EAC;
    color: #F7F2EB;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 500;
}

#tag-web {
    background-color: orange;
    color: #F7F2EB;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 500;
}

#tag-graphic {
    background-color: #5d11a3;
    color: #F7F2EB;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 500;
}

#tag-other {
    background-color: #14998e;
    color: #F7F2EB;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 500;
}