.Home {
    text-align: center;
    background-color: #BAD6EB;
}

.Home-body {
    text-align: center;
    background-color: #BAD6EB;
    padding-bottom: 11%;
}

.Home-header {
    background-color: #081F5C;
    /*min-height: 5vh;*/
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #FFF9F0;
    padding: 20px;
}

