.Poster {
    text-align: center;
    background-image: url("../assets/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Poster-header {
    background-color: #50903C;
    /*min-height: 5vh;*/
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #FFF3C7;
    text-align: center;
}

.Poster-footer {
    background-color: #50903C;
    /*min-height: 5vh;*/
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #FFF3C7;
    text-align: center;
    margin-top: 5%;
}


.Card-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Card-layout > div {
    margin: 10px;
    padding: 20px;
}

.Card {
    border: 1px #474646;
    border-radius: 8px;
    width: 300px;
    
}

.ImpactCard {
min-height: 10vh; /* minimum height = screen height */
  display: flex;
  justify-content: center;
  align-items: stretch;
  
}

.Content-layout{
    display: flex;
    gap: 20px;
    align-content: center;
}
.Content-layout{
    display: flex;
    gap: 20px;
    align-content: center;
}

.InfoContent-layout{
    display: flex;
    gap: 20px;
    align-content: center;
    align-items: end;
    padding: 16px;
    background-color: rgb(145, 31, 31);
    color: #FFF3C7;
    
}

.InfoExpanded-layout{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 1%;
    margin-right: 1%;
}