.UIheader {
    background-color: #ffe6b8;
}

.UIheader>h1 {
    display: flex;
    min-height: 8vh;
    background-color: #ffe6b8;
    color: #503300;
    font-size: 2rem;
    padding: 20px 10rem;
    justify-content: flex-start;
    justify-content: center;
}

.UI-body {
    padding: 20px 10rem;
    @media screen and (max-width: 767px){
        padding: 20px;
    }
}
.tab-design{
    width: 50%;
}

.result-design {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px 20px;
}

.result-design>img {
    max-width: 100%;
}

.result-design>h2 {
    color: #503300;
}

.result-design > iframe {
    width: '80%';
    height: 800;
}

.design-process > p {
    font-family: 'Times New Roman', Times, serif;
}

.image-content {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div.item > img {
    width: 240px;
    height: fit-content;
    border: 1.125vh solid #998a75;
    border-radius: 20px;
    @media screen and (max-width: 767px){
        width: 160px;
    }
}
.caption {
    color: #312817;
}

@media screen and (max-width: 767px) {
    .UIheader>h1 {
        padding: 20px;
    }

    .UI-body {
        padding: 20px;
    }

    .result-design > iframe {
        width: '80%';
        height: 800;
    }

}