.UIheader {
    background-color: #ffe6b8;
}

.UI-header > h1 {
    background-color: #334EAC;
    min-height: 8vh;
    display: flex;
    font-size: 2rem;
    color: #F7F2EB;
    justify-content: flex-start;
    padding: 20px 2rem;

    @media screen and (max-width: 767px) {
        padding: 20px;
    }
}

.UI-body {
    padding: 20px 10rem;
    @media screen and (max-width: 767px){
        padding: 20px;
    }
}
.tab-design{
    width: 50%;
}

.result-design {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px 20px;
}

.result-design>img {
    max-width: 100%;
}

.result-design>h2 {
    color: #503300;
}

.result-design > iframe {
    width: '80%';
    height: 800;
}

.design-process > p {
    font-family: 'Times New Roman', Times, serif;
}

.image-content {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div.item > img {
    width: 240px;
    height: fit-content;
    border: 1.125vh solid #998a75;
    border-radius: 20px;
    @media screen and (max-width: 767px){
        width: 200px;
        
    }
}
.caption {
    color: #312817;
}

@media screen and (max-width: 767px) {
    .UIheader>h1 {
        padding: 20px;
    }

    .UI-body {
        padding: 20px;
    }

    .result-design > iframe {
        width: '80%';
        height: 800;
    }

}

.image-content-pg2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    padding: 2rem;
    flex-wrap: wrap;
}

div.item-pg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div.item-pg2 > img {
    width: 600px;
    height: fit-content;
    border: 0.725vh solid #998a75;
    border-radius: 8px;
    @media screen and (max-width: 767px){
        width: 320px;
        border: 0.525vh solid #998a75;
    }
}
.caption-mobile {
    color: #312817;
}

.image-content-mobile {
    display: flex;
    gap: 20px;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

div.item-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
div.item-mobile > img {
    width: 320px;
    height: fit-content;
    border: 0.725vh solid #998a75;
    border-radius: 8px;
    @media screen and (max-width: 767px){
        width: 160px;
        border: 0.525vh solid #998a75;
    }
}
.caption-mobile {
    color: #312817;
    word-wrap: break-word;
    width: 60%;
    margin-top: 8px;
    text-align: center;
}